/*
Theme Name: Goodwin-update-test
Bitbucket Theme URI: https://bitbucket.org/kmattimore/wordpress-theme-test
Description: Swift child theme
Author: ONI
Author URI: http://onenorth.com
Version: 1.0
License: 
template: swift-basic
*/

/* the mystery styles ... modified from swift-basic custom styles  */ 
/*scroll down for deliberately added ones */

body{
    font:16px/ 24px proxima-nova, sans-serif;
    background-color: #fff;
}
select, input, textarea {
    font: 99% sans-serif;
}

article p{
    margin-bottom: 12px;
}

#header .div-content.clearfix{
    margin:  0 auto;
    padding: 0;
}

#header .clearfix.hybrid{
   margin: 0 auto;
   padding: 25px 0 20px 17px;
   width: 950px;
   height:79px;
}

.search-bar .widget.widget_search{
    width: 950px;
    margin: 0 auto;
    display: block;
}

textarea, input[type="text"]{
  border-radius: 0px !important;
  border: 0px solid #000 !important;
}

.widget{border: none;margin-bottom:0; }
#sidebar .widget{padding: 0; padding-bottom: 30px;}
#sidebar .widget-title{padding:17px 0px 7px 20px; }
.widget.widget_cnss_widget{
    float: right;
    margin-top:17px;
    margin-right: -5px;
}
.search-bar fieldset{
    float: right;
}
#searchform{
    padding: 0;
}
#searchform input[type=text] {
  margin: 9px 5px 7px;
  padding: 3px 5px 0px;
  font-size: 13px;
  height:20px;
  border: 0 none;
  color: #666666;
  float: left;
  line-height: 20px;
  padding-left: 5px;
  width: 220px;
}

#searchform input#searchsubmit {
margin: 9px  0 0 ;
margin-left: -25px;
padding: 0; 
position: absolute;
height: 22px;
width:20px;
border: none;
}

.widget.widget_cnss_widget table, .widget.widget_cnss_widget td{
    border: none;
}
.widget.widget_cnss_widget td {
   width: 40px !important;
    display: inline-block;
}


#main.hybrid{
    width: auto !important;
}
#content{
    width: 70% !important;
}

.banner.widget_simpleimage{
    	/*width: 1000px;*/
margin: 0 auto;
			/*margin-top: 10px;*/
}
.banner.widget_simpleimage img{
    /*width: 935px !important;*/
    /*height: 164px !important;*/
    /*padding: 0px 35px;*/
}
.entry-content img{
    color: transparent;
    padding: 0;
}
.entry-content a{
    text-decoration: none;
}
p.widget-title{
    background-color: #74A2B1;
    color: #fff;
    font-weight: bold;
}
#content, #sidebar{
    padding-top: 10px;
}
#twitter-widget-0{ height: 238px;}
.var-narrow .tweet {
padding: 5px 8px 6px 0px;
}


.widget-easy-twitter-feed-widget-row{
    margin-left: -9px;
}
#rp-sm, #nav-single{
    background: none;
    border: none;
}
.widget.widget_cal_widget select{
 width: 100%;   
}


.follow-us {
 margin:0 auto;
 width: 1000px; 
 color: #444;
 padding: 8px 0;
}

.follow-us p{
    bottom: -7px;
    float: left;
    margin: 0 10px 0 36px;
    position: relative;
    font-weight: bold;
}

.follow-us img {
      vertical-align:bottom;
}

.inner-footer {
    width: 1015px;
    margin: 0px auto;
    vertical-align: center;
}

ul.foot-nav {
    font-family:"Arial",Georgia,Serif;
    font-weight: bold;
    padding: 6px 0px 0px 15px;
    width: 100%;
}

ul.foot-nav li {
    display: inline-block;
    color: #444;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

ul.foot-nav a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
}

ul.foot-nav a:link, ul.foot-nav a:visited, ul.foot-nav a:active {
    color: #3B606E;
    text-decoration: none;
}
ul.foot-nav a:hover{
    color: #3B606E;
    text-decoration: none;
}
#blog-wrapper h1{
    font-size: 24px;
}
.text-description{
    margin-bottom: 20px;
}
a[title~="Subscribe"] img {
  height: 31px;
  position: relative;
  top: -1px;
}



/* --------------------------- HEADER / HERO AREA ----------------------------------*/
html {
	min-width: 956px;
}

html,body,p,div {
	font-family: proxima-nova, sans-serif;
}

#branding-container {
	background-color: #2D3539;
}

#branding {
  padding-left: 0 !important;
  background-color: #2D3539 !important;
}

img#logo {
  max-height: 75px;
  width: 30%;
}

/*override plugin style settings for cross-blog consistency */
/*applies to header and footer icons*/

.cnss-social-icon{
  /*width: 100% !important;*/
  
}

.cnss-social-icon li{
  padding: 0 !important;
  margin: 0 !important;
  /*height: 20px !important;*/
}

.cnss-social-icon img {
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 20px !important;
  vertical-align: middle;
  opacity: 1;
}

.cnss-social-icon a {
  display: flex;
  align-items: center;
}

line up the extra sharethis icon with the rest
.widget_cnss_widget, #cnss_widget-2 {
  display:flex !important;
}

#cnss_widget-2 .cnss-social-icon {
  align-self: flex-start;
  /*TODO: add for additional share icon*/
  /*margin-right: 20px;*/
}

.custom-share-icon {
  align-self: flex-end;
  width:20px;height:20px;
}

.search-bar{
  background: url("/wp-content/themes/goodwin-update/images/pattern-only.png"),  linear-gradient(0deg, #f74c1f, #f78f1f);
	height: 45px;
}


#searchform input[type=text] {
		/* padding: 0 !important; */
		height: 25px;
		/*margin-top: 11px;*/
		padding-top: 1px;
		font-family: proxima-nova, sans-serif;
}

#searchsubmit {
	z-index: 200;
	background: none !important;
	margin: 0 !important;
}

.search-input {
	position: relative;
}

.goodwin-search-icon {
	position: absolute;
	right: 15px;
	top: 10px;
	height: 20px; 
	width: 20px;
	font-size: 20px;
}

.goodwin-search-icon:after, .goodwin-search-icon:before {
	position: absolute;
	top: 1px;
	right: 0;
}


.banner-image {
	position: relative;
}

.banner.widget_simpleimage {
  margin: 0 !important;
  width: auto !important;
	max-height: 230px !important;
	overflow: hidden;
}

.banner.widget_simpleimage img{
  width: 100% !important;
	height: auto !important;

  padding: 0 !important;
}

/*title overlaying image */
#header .banner-image .widget_text {
	position: absolute;
	
	font-family: proxima-nova, sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	height: 230px;
	/*match content area margin + padding */
	text-align: left;
	width: 956px;
	top: 0;
	left:0; 
	right: 0;
	margin-left: auto;
	margin-right: auto;
	
}

#header .banner-image .widget_text  a {
	color: #fff;
	font-weight: 900;
	line-height: 230px;
}

.initial-about {
	margin-top: 50px;
	margin-bottom: 40px !important;,
}


/* --------------------------- SIDEBAR ----------------------------------*/
#sidebar-container{
  width: 26% !important;
  float: right;
  font-size:16px;
  line-height: 24px;
}

#sidebar {
	padding-top: 60px;
}

#sidebar a {
	text-decoration: underline !important;
}

#sidebar a:hover {
  text-decoration: none !important;
}

#sidebar .widget {
	padding-bottom: 17px !important;
	/*60px with heading space */
	margin-bottom: 55px !important;
  font-size: 16px;
  line-height: 24px;
}

#sidebar .widget-title {
		padding-left: 0;
		padding-top: 0;
		/*20px including text boundaries */
		padding-bottom: 15px;
		margin: 0;
}

#sidebar aside.widget {
	position: relative;
	/*overflow-y: visible !important;*/
}

/*stubby sidebar element border */
#sidebar aside.widget:after {
	content:""; 
	background: #868D91;
	position: absolute; 
	bottom: 0; 
	left: 0; 
	height: 1px; 
	width: 20px;
}

/*sidebar headings */
p.widget-title{ 
	border: none;
	background-color: #fff;
	color: #868D91;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	font-weight: 900;
	font-family: proxima-nova, sans-serif;
	/*20px actual */
	padding-bottom: 12px !important;
}

.widget ul {
	margin: 0;
}

/* --------------------------- CONTENT AREA ----------------------------------*/

h2.entry-title{
  line-height: 30px !important;
  font-size: 24px !important;
}

/*Make post preview titles "subhead #4" */ 
h2.entry-title a{
  text-decoration: none;
	font-size: 24px !important;
	font-weight: 900 !important;
	font-family: proxima-nova, sans-serif !important;
	text-transform: uppercase;
	color: #2D3539 !important;
}

h2.entry-title a:hover {
    text-decoration: underline;
}

/*landing page (h1) and detail view (h2)*/
.entry-title {
	color: #2D3539 !important;
	text-transform: uppercase;
	font-family: "proxima-nova", sans-serif !important;
	font-weight: 900 !important;
	font-style: normal !important;	
	font-size: 38px !important;
}
h1.entry-title {
  /* post detail view */
  margin-bottom: 10px;
  /*align with sidebar top margin */
  margin-top: 43px;
}

.post .post-categories {
  /*margin-top:5px;*/
  /*margin-bottom: 10px;*/
  color: #F7941D;
}
.post .post-categories a {
  text-decoration: underline;
}
.post .post-categories a:hover {
  text-decoration: none;
}

.post-categories-label {
  margin-right: 2px;
}

/*Posted by author + date/time */
.post-by-line {
	margin-bottom: 3px;
	color: #F7941D;
	/* TODO: font-weight of non-links */
}
.post-by-line .post-date {
	font-weight: bold;	
}

.post-by-line a, a.continue-reading { 
	text-decoration: underline;
}

/*all text links should hide underline on hover */
.entry-summary a, .entry-content a {
  text-decoration: underline !important;
}

.entry-summary a:hover, .entry-content a:hover {
  text-decoration: none !important;
}

.entry-header{
    padding-bottom: 27px;
}

/*reduce this padding on post detail view to make up for block element spacing*/
#single-content .entry-header {
  padding-bottom: 0;
  /*margin-bottom: -5px;*/
}

/* remove post summary image border */
.blog-thumb {
	padding: 0 !important;
	margin-right: 22px;
}

.entry-summary {
	margin-bottom: 30px;	
}

/*stop the share bar from displacing text */
.entry-summary img {
	margin-bottom: 15px;
}
#sharethis {
  /*margin-top: 20px;*/
  /*position : absolute;*/
  /*margin-top: 50px;*/
}

/*post preview footer */
footer.home.entry-meta {
		/*darker grey looked too dark */
		border-top: solid 1px #868D91;
}

/*space between line and next post preview */
article.post {
	margin-bottom: 32px;
}


/* ------------------------------- SITE FOOTER --------------*/

.global-footer {
	font-family: "proxima-nova", sans-serif;
	font-size: 14px;
  background-color: #2D3539;
  padding: 50px 0 50px 0;
  color: #abb4ba;
}

.global-footer .footer-wrapper {
  max-width: 76.125em;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.global-footer .misc-link {
	text-transform: uppercase;
	color: #abb4ba !important;
	margin-left: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.centered-footer-links {
  align-self: center;
}

.button-container {
	display: inline-block;
  align-self: flex-start;
}

/*social links class is footer only */
.social-links {
  height: 50px; 
  align-self: flex-end;
	display: flex;
	font-size: 30px;
	vertical-align: bottom;
  align-items: center;
}

.social-link {
	vertical-align: middle;
}

.social-link:before {
	color: #fff !important;
}

.copyright {
  font-size: 13px;
	margin-top: 25px;
}



/* -------------------- MISC from pattern lib --------------------- */ 


.btn {
  background-color: #2D3539;
  color: #F7941D;
  padding: .75em 1.5em;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-transform: capitalize !important;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  display: inline-block;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875em;
}

.btn-medium-grey {
  background-color: #E4E5E3;
  color: #2D3539;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn.small, .nav-previous.btn, .nav-next.btn{
  border: none;
  background: none;
  border-radius: 0px;
  box-shadow: none;
  color: #F7941D;;
  font-size: 16px;
  line-height: 24px;
}

a, .btn.small {
	color: #F7941D;
	font-weight: bold;
}

a:hover, .btn.small:hover {
	color: #2D3539;
  text-decoration: none;
}